<div class="text-center custom-orange-bg">
  <div class="d-flex justify-content-center custom-orange-bg">
    <div class=" custom-orange-bg">
<h1>Workout Routines</h1>

<%= link_to 'New Workout Routine', new_workout_routine_path, class: 'btn btn-primary' %>

<table class="table mt-3 bg-light">
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @workout_routines.each do |routine| %>
      <tr>
        <td><%= routine.name %></td>
        <td>
          <%= link_to 'Show', workout_routine_path(routine), class: 'btn btn-secondary' %>
          <%= link_to 'Edit', edit_workout_routine_path(routine), class: 'btn btn-warning' %>
          <%= link_to 'Destroy', workout_routine_path(routine), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>
