<div class="container mt-5">
  <h1>Ahoy Analytics</h1>
  <p>Here you can view the events tracked by Ahoy.</p>


  <table class="table table-striped">
    <thead>
      <tr>
        <th>Event Name</th>
        <th>Properties</th>
        <th>Time</th>
        <th>User</th>
        <th>Visit</th>
      </tr>
    </thead>
    <tbody>
      <% @ahoy_events.each do |event| %>
        <tr>
          <td><%= event.name %></td>
          <td><%= event.properties %></td>
          <td><%= event.time %></td>
          <td><%= event.user.present? ? event.user.email : 'Unknown User' %></td>
          <td><%= event.visit_id %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="container mt-5">
  <h1>Ahoy Visits Analytics</h1>
  <p>Here you can view the visits tracked by Ahoy.</p>

  <h2>Visits by Day</h2>
  <%= line_chart @visits_by_day, xtitle: "Date", ytitle: "Visits" %>

  <h2>Visits by Week</h2>
  <%= line_chart @visits_by_week, xtitle: "Week", ytitle: "Visits" %>

  <h2>Visits by Month</h2>
  <%= line_chart @visits_by_month, xtitle: "Month", ytitle: "Visits" %>
</div>
