<div class="text-center custom-orange-bg fitness-font">
  <div class="d-flex justify-content-center custom-orange-bg">
    <div class="col-12 col-md-10 col-lg-8 mb-5 custom-orange-bg">
      <br/>
      <h1>Fitness Analytics</h1>
      <br/>
      <p>Here you can view your progress over time.</p>
      <br/>
      <h2> Snapshot Weight(Lbs) vs. Time to Reach Goal Weight(Weeks)</h2>
      <%= line_chart @predicted_time_data, xtitle: "Snapshot weight(Lbs)", ytitle: "Time to Reach Goal Weight (days)"%>
      <br/>
      <h2> Time to Reach Goal Weight(Weeks) vs. Calorie Deficit or Surplus</h2>
      <%= line_chart @predicted_time_calorie_data, xtitle: "Time to Reach Goal Weight (weeks)" , ytitle: "Calorie_deficit_or_surplus" %>
      <br/>
      <h2>Time(Days) vs. Weight(Lbs)</h2>
      <%= line_chart @weight_data, xtitle: "Time (Days)", ytitle: "Weight (lbs)" %>
      <br/>

      <h2> Time(Days) vs. Total Volume Lifted(Lbs)</h2>
      <%= column_chart @workout_routines_data, xtitle: "Time (Days)", ytitle: "Total Volume (lbs)" %>  
      <br/>

      <h2>Activity levels Counts of Snapshots </h2>
      <%= pie_chart @activity_level_data, xtitle: "Activity Level", ytitle: "Count" %>
      <br/>
      <h2> Time(Days) vs. One Rep Max Count</h2> 
      <%= column_chart @one_rep_max_count_data, xtitle: "Time (Days)", ytitle: "One Rep Max Count" %>
      <br/>
      <h2> Time(Days) vs. Snapshot Count</h2>
      <%= column_chart @snapshots_count_data, xtitle: "Time (Days)", ytitle: "Snapshot Count" %>

      <%= link_to 'Back', root_path, class: 'btn btn-secondary' %>
    </div>
  </div>
</div>
