<div class="text-center custom-mist-red-bg fitness-font py-5">
  <div class="container">
    
    <!-- Header Image -->
    <div class="d-flex justify-content-center mb-4">
      <%= image_tag 'delts.gif', alt: 'Strength and Agility', class: 'img-fluid rounded shadow', style: 'max-width: 80%;' %>
    </div>

    <!-- Title -->
    <h2 class="display-5 fw-bold mb-5">Your One-Rep Max Records</h2>

    <!-- Table -->
    <div class="table-responsive d-flex justify-content-center">
      <table class="table table-hover table-bordered shadow w-auto">
        <thead class="table-dark">
          <tr>
            <th scope="col">Exercise</th>
            <th scope="col">Weight (lbs)</th>
            <th scope="col">Reps</th>
            <th scope="col">One-Rep Max (lbs)</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @one_rep_maxes.each do |one_rep_max| %>
            <tr>
              <td><%= one_rep_max.exercise %></td>
              <td><%= one_rep_max.weight_lbs %></td>
              <td><%= one_rep_max.reps %></td>
              <td><%= one_rep_max.calculate_one_rep_max %></td>
              <td>
                <%= link_to 'Show', one_rep_max, class: 'btn btn-outline-primary btn-sm me-2' %>
                <%= link_to 'Delete', one_rep_max, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger btn-sm' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <!-- New Entry Button -->
    <div class="mt-5">
      <%= link_to 'Add New One-Rep Max', new_one_rep_max_path, class: 'btn btn-success btn-lg' %>
    </div>

  </div>
</div>
