<div class="text-center custom-orange-bg">
  <div class="d-flex justify-content-center custom-orange-bg">
    <div class="col-md-4 mb-4 custom-orange-bg">
  <div class="container">
    <div class="d-flex justify-content-center">
      <%= image_tag 'delts.gif', alt: 'strength and agility', class: 'img-fluid my-5 w-80' %>
    </div>
    <h2 class="text-center mb-4">Your One-Rep Max Records</h2>

    <div class="d-flex justify-content-center">
      <table class="table table-striped w-auto">
        <thead>
          <tr>
            <th>Exercise</th>
            <th>Weight (lbs)</th>
            <th>Reps</th>
            <th>One-Rep Max (lbs)</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @one_rep_maxes.each do |one_rep_max| %>
            <tr>
              <td><%= one_rep_max.exercise %></td>
              <td><%= one_rep_max.weight_lbs %></td>
              <td><%= one_rep_max.reps %></td>
              <td><%= one_rep_max.calculate_one_rep_max %></td>
              <td>
                <%= link_to 'Show', one_rep_max %>
                <%= link_to 'Destroy', one_rep_max, method: :delete, data: { confirm: 'Are you sure?' } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="text-center mt-4">
      <%= link_to 'New One-Rep Max', new_one_rep_max_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
</div>
