<div class="text-center">
  <br/>

  <h1> Don't drive yourself crazy with your fitness goals, predict your future now!</h1>

  <%= image_tag "beginner.webp", alt: "Zero"%>

    <p> From Zero </p>

  <%= image_tag "hero.webp", alt: "Hero" %>

    <p> To Hero </p>

  <%= image_tag "superhero.webp", alt: "Superhero" %>
  
      <p> To Superhero  </p>
</p>
  <h2>Your Snapshots</h2>
  <%= link_to 'New Weight Gain/Loss Prediction', new_snapshot_path, class: 'btn btn-primary' %>

  <ul class="list-unstyled">
    <% @snapshots.each do |snapshot| %>
      <li>
        <%= link_to snapshot.created_at.strftime("%B %d, %Y"), snapshot_path(snapshot) %>
      </li>
    <% end %>
  </ul>
</div>
