
<%= simple_form_for(@snapshot) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :user %>
    <%= f.input :height_cm %>
    <%= f.input :weight_kg %>
    <%= f.input :activity_level %>
    <%= f.input :goal_weight_kg %>
    <%= f.input :predicted_time_weeks %>
    <%= f.input :calorie_deficit_per_day %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
