<%# any reason you chose simple_form_for? %>
<%= simple_form_for(@snapshot, html: { id: 'userForm' }) do |f| %>
  <div class="mb-3">
    <%= f.label :weight_kg, "Weight (lbs)", class: "form-label" %>
    <%= number_field_tag "snapshot[weightLbs]", nil, class: "form-control", min: 0, placeholder: "e.g. 180", required: true %>
  </div>

  <div class="mb-3">
    <%= f.label :height_cm, "Height", class: "form-label" %>
    <div class="d-flex gap-2">
      <%= number_field_tag "snapshot[heightFeet]", nil, class: "form-control", placeholder: "Feet", min: 0, required: true %>
      <%= number_field_tag "snapshot[heightInches]", nil, class: "form-control", placeholder: "Inches", min: 0, step: 0.5, required: true %>
    </div>
  </div>

  <div class="mb-3">
    <%= f.label :activity_level, "Activity Level", class: "form-label" %>
    <%# ðŸ‘ %>
    <%= f.select :activity_level, options_for_select(Snapshot::ACTIVITY_FACTOR.keys.map { |key|
                 [Snapshot::ACTIVITY_FACTOR[key][:description],key]}
                ), {}, class: "form-select", required: true %>
  </div>

  <div class="mb-3">
    <%= f.label :goal_weight_lbs, "Goal Weight (lbs)", class: "form-label" %>
    <%= number_field_tag "snapshot[goal_weight_lbs]", nil, class: "form-control", min: 0, placeholder: "e.g. 160", required: true %>
  </div>

  <div class="mb-3">
    <%= f.label :calorie_deficit_or_surplus_per_day, "Calorie Deficit/Surplus (daily)", class: "form-label" %>
    <%= f.number_field :calorie_deficit_or_surplus_per_day, class: "form-control", placeholder: "Use - for deficit, + for surplus", required: true %>
  </div>

  <div class="form-actions text-center">
    <%= f.button :submit, "Calculate Snapshot", class: "btn btn-success" %>
  </div>
<% end %>
