<div id="<%= dom_id snapshot %>">
<p>
  <strong>Age:</strong>
  <%= calculate_age(snapshot.user.dob) if snapshot.user.dob.present? %>
</p>

  <p>
    <strong>Height cm:</strong>
    <%= snapshot.height_cm %>
    <strong> Height feet and inches:</strong>
    <%= height_feet %> feet and <%= height_inches %> inches
  </p>

  <p>
    <strong>Weight kg:</strong>
    <%= snapshot.weight_kg %>

    <strong> Weight lbs:</strong>
    <%= weightLbs %>
  </p>

  <p>
    <strong>Goal weight kg:</strong>
    <%= snapshot.goal_weight_kg %>
    <strong>Goal weight lbs:</strong>
    <%= goal_weight_lbs %>
  </p>

 

  <p>
    <strong>Predicted time:</strong>
    <%= snapshot.predicted_time %>
  </p>

  <p>
    <strong>Basal Metabolic Rate:</strong>
    <%= snapshot.bmr.round(0) %> calories per day
  </p>

   <p>
    <strong>Activity level:</strong>
    <%= snapshot.activity_level %>
  </p>

  <p>
    <strong> Total Daily Energy Expenditure:</strong>
    <%= snapshot.tdee.round(0) %> calories per day
  </p>

  <p>
    <strong>Calorie Deficit or Surplus per day:</strong>
    <%= snapshot.calorie_deficit_or_surplus_per_day %>
  </p>
  <h4>Weight Prediction</h4>
<p class="font-weight-bold text-secondary bg-light p-3 rounded bungee-tint-regular">
  If you continue to be <%= snapshot.activity_level %>, you can consume <%= snapshot.tdee.round(0) + snapshot.calorie_deficit_or_surplus_per_day %> calories per day.<br/> Then you will achieve your goal weight of <%= goal_weight_lbs.round(0) %> lbs in <%= snapshot.predicted_time %>
</p>

<h4>Ideal Body Weight</h4>
<p class="font-weight-bold text-secondary bg-light p-3 rounded bungee-tint-regular">
   Your ideal body weight is between <%= snapshot.ideal_body_weight_max.round(0) %> and <%= snapshot.ideal_body_weight_min.round(0) %> lbs. 
</p>

<h5 class="text-dark mt-4">Recommended Daily Protein Intake</h5>
<p class="font-weight-bold text-secondary bg-light p-3 rounded shadow-sm">
  <span class="text-dark">Your recommended daily protein intake:</span> 
  <span class="text-success"><%= (snapshot.recommended_protein_intake_per_day(snapshot.activity_level)).round(0) %></span> grams per day 
  to maintain your lean body mass.
</p>

<h5 class="text-dark mt-4">Recommended Daily Creatine Intake (Loading Phase)</h5>
<p class="font-weight-bold text-secondary bg-light p-3 rounded shadow-sm">
  <span class="text-dark">During the loading phase:</span> 
  <span class="text-success"><%= (snapshot.recommended_creatine_intake_per_day_loading_phase).round(0) %></span> grams per day 
  for the first 5-7 days. After that, you can switch to the maintenance phase.
</p>

<h5 class="text-dark mt-4">Recommended Daily Creatine Intake (Maintenance Phase)</h5>
<p class="font-weight-bold text-secondary bg-light p-3 rounded shadow-sm">
  <span class="text-dark">During the maintenance phase:</span> 
  <span class="text-success"><%= (snapshot.recommended_creatine_intake_per_day_maintenance_phase).round(0) %></span> grams per day 
  to help maintain your muscle creatine stores.
</p>

<h5 class="text-dark mt-4">Recommended Daily Water Intake</h5>
<p class="font-weight-bold text-secondary bg-light p-3 rounded shadow-sm">
  <span class="text-dark">During the maintenance phase:</span> 
  <span class="text-success"><%= (snapshot.recommended_daily_water_intake).round(0) %></span> liters per day (or <%= (snapshot.recommended_daily_water_intake * 33.814).round(0) %> ounces) to stay properly hydrated, especially when consuming creatine.
</p>

<h4>Lean Body Mass</h4>
<p>(weight of a person's muscles, bones, ligaments, tendons, and water—essentially everything in the body except fat)</p>
</div>
<p class="font-weight-bold text-secondary bg-light p-3 rounded bungee-tint-regular">
  Your lean body mass is <%= snapshot.lean_body_mass.round(0) %> lbs.
</p>
<h4>Body Fat Mass</h4>
<p class="font-weight-bold text-secondary bg-light p-3 rounded bungee-tint-regular">
  Your body fat mass is <%= (weightLbs - snapshot.lean_body_mass).round(0) %> lbs.
  <br/>
You have <%= ((weightLbs - snapshot.lean_body_mass) / weightLbs * 100).round(0) %>% Body Fat
</p>

<h4>Body Mass Index</h4>
<p class="font-weight-bold text-secondary bg-light p-3 rounded bungee-tint-regular">
  Your Body Mass Index (BMI) is <%= snapshot.body_mass_index.round(0) %>.<br/>
  You are <%= snapshot.bmi_category %>.
</p>
