<div id="<%= dom_id snapshot %>">
  <p>
    <strong>User:</strong>
    <%= snapshot.user_id %>
  </p>

  <p>
    <strong>Height cm:</strong>
    <%= snapshot.height_cm %>
  </p>

  <p>
    <strong>Weight kg:</strong>
    <%= snapshot.weight_kg %>
  </p>

  <p>
    <strong>Activity level:</strong>
    <%= snapshot.activity_level %>
  </p>

  <p>
    <strong>Goal weight kg:</strong>
    <%= snapshot.goal_weight_kg %>
  </p>

  <p>
    <strong>Predicted time weeks:</strong>
    <%= snapshot.predicted_time_weeks %>
  </p>

  <p>
    <strong>Calorie deficit or Surplus per day:</strong>
    <%= snapshot.calorie_deficit_or_surplus_per_day %>
  </p>

</div>
