<div id="<%= dom_id snapshot %>">
  <p>
    <strong>User:</strong>
    <%= snapshot.user_id %>
  </p>

  <p>
    <strong>Height cm:</strong>
    <%= snapshot.height_cm %>
    <strong> Height feet and inches:</strong>
    <%= height_feet %> feet and <%= height_inches %> inches
  </p>

  <p>
    <strong>Weight kg:</strong>
    <%= snapshot.weight_kg %>

    <strong> Weight lbs:</strong>
    <%= weightLbs %>
  </p>

  <p>
    <strong>Goal weight kg:</strong>
    <%= snapshot.goal_weight_kg %>
    <strong>Goal weight lbs:</strong>
    <%= goal_weight_lbs %>
  </p>

 

  <p>
    <strong>Predicted time weeks (- or + = losing weight or gaining weight):</strong>
    <%= snapshot.predicted_time_weeks %>
  </p>

  <p>
    <strong>Basal Metabolic Rate:</strong>
    <%= snapshot.bmr.round(0) %> calories per day
  </p>

   <p>
    <strong>Activity level:</strong>
    <%= snapshot.activity_level %>
  </p>

  <p>
    <strong> Total Daily Energy Expenditure:</strong>
    <%= snapshot.tdee.round(0) %> calories per day
  </p>

  <p>
    <strong>Calorie Deficit or Surplus per day:</strong>
    <%= snapshot.calorie_deficit_or_surplus_per_day %>
  </p>
  <h4>Weight Prediction</h4>
<p class="font-weight-bold text-secondary bg-light p-3 rounded">
  If you continue to be <%= snapshot.activity_level %>, you can consume <%= snapshot.tdee.round(0) + snapshot.calorie_deficit_or_surplus_per_day %> calories per day.<br/> Then you will achieve your goal weight of <%= goal_weight_lbs %> lbs in <%= snapshot.predicted_time_weeks %> weeks.
</p>

<h4>Ideal Body Weight</h4>
<p class="font-weight-bold text-secondary bg-light p-3 rounded">
   Your ideal body weight is between <%= snapshot.ideal_body_weight_max.round(0) %> and <%= snapshot.ideal_body_weight_min.round(0) %> lbs. 
</p>

<h4>Lean Body Mass</h4>
<p>(weight of a person's muscles, bones, ligaments, tendons, and water—essentially everything in the body except fat)</p>
</div>
<p class="font-weight-bold text-secondary bg-light p-3 rounded">
  Your lean body mass is <%= snapshot.lean_body_mass.round(0) %> lbs.
</p>
<h4>Body Fat Mass</h4>
<p class="font-weight-bold text-secondary bg-light p-3 rounded">
  Your body fat mass is <%= (weightLbs - snapshot.lean_body_mass).round(0) %> lbs.
  <br/>
You have <%= ((weightLbs - snapshot.lean_body_mass) / weightLbs * 100).round(0) %>% Body Fat
</p>

<h4>Body Mass Index</h4>
<p class="font-weight-bold text-secondary bg-light p-3 rounded">
  Your Body Mass Index (BMI) is <%= snapshot.body_mass_index.round(0) %>.<br/>
  You are <%= snapshot.bmi_category %>.
</p>

<h4>Recommend Daily Protein Intake</h4>
<p class="font-weight-bold text-secondary bg-light p-3 rounded">
  Your recommended daily protein intake is <%= (snapshot.recommended_protein_intake_per_day(snapshot.activity_level)).round(0) %> grams per day to maintain your lean body mass.
</p>
