<div class="text-center custom-orange-bg">
  <p style="color: green"><%= notice %></p>

  <h1>Weight Gain/Loss Snapshots</h1>

   <%= image_tag "workout.webp", alt: "workout" %>
<br/>
<div id="snapshots" class="container">
<br/>
  <div class="row">
    <% @snapshots.each do |snapshot| %>
      <div class="col-md-4 mb-4 custom-orange-bg">
        <div class="card custom-red-border custom-red-bg">
          <div class="card-body text-center">
            <%= render partial: 'snapshot', locals: { snapshot: snapshot, weightLbs: (snapshot.weight_kg / 0.453592).round(2), height_feet: (snapshot.height_cm / 30.48).to_i, height_inches: ((snapshot.height_cm / 2.54) % 12).round(2), goal_weight_lbs: (snapshot.goal_weight_kg / 0.453592).round(2) } %>
            <p>
              <%= link_to "Show this snapshot", snapshot, class: "btn btn-primary" %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

  <%= link_to "New snapshot", new_snapshot_path %>
</div>
