<div class="custom-orange-bg">
<div class="container text-center">
<h3>Calculate your Basal Metabolic Rate</h3>

<p>The Basal Metabolic Rate (BMR) is the number of calories your body needs to perform basic life-sustaining functions (breathing, circulation, cell production, etc.) at rest.</p>

<h3> Mifflin-St Jeor Equation </h3>

<p> The Mifflin-St Jeor Equation is a method used to estimate the Basal Metabolic Rate (BMR) of an individual. </p>

<h1> To calculate BMR use this formula: </h1>

<%= image_tag 'Mifflin.png', alt: 'Mifflin-St Jeor Equation', class: 'img-fluid' %>

<p> Total Daily Energy Expenditure (TDEE) is the number of calories your body needs to maintain your current weight. </p>

<p> To lose weight, you need to consume fewer calories than your TDEE. To gain weight, you need to consume more calories than your TDEE. </p>

<h1> To calculate TDEE use this formula: </h1>

<%= image_tag 'tdee.png', alt: 'Total Daily Energy Expenditure', class: 'img-fluid' %>

<h1> To calculate predicted weight loss time in weeks using this formula: </h1>

<%= image_tag 'predictedwlosstime.png', alt: 'Predicted Weight Loss Time Formula', class: 'img-fluid'    %>
</div>
<div class="text-center">
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#formModal">
  Calculate Weight Gain/Loss Prediction
</button>
</div>
<!-- Modal -->
<div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="formModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="formModalLabel">Input Your Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for(@snapshot, html: { id: 'userForm' }) do |f| %>
          <% if @snapshot.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@snapshot.errors.count, "error") %> prohibited this snapshot from being saved:</h2>
              <ul>
                <% @snapshot.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div class="mb-3">
            <%= f.label :weight_kg, "Weight (in lbs)", class: "form-label" %>
            <div class="form-group d-flex">
              <%= number_field_tag "snapshot[weightLbs]", nil, class: "form-control me-2", id: "weightLbs", min: 0, placeholder: "Pounds", required: true %>
            </div>
          </div>
          <div class="mb-3">
              <%= f.label :height_cm, "Height (in feet and inches)", class: "form-label" %>
              <div class="form-group d-flex">
                <%= number_field_tag "snapshot[heightFeet]", nil, class: "form-control me-2", id: "heightFeet", min: 0, placeholder: "Feet", required: true %>
                <%= number_field_tag "snapshot[heightInches]", nil, class: "form-control", id: "heightInches", min: 0, step: 0.5, placeholder: "Inches", required: true %>
              </div>
            </div>
          <div class="mb-3">
          <%= f.label :activity_level, "Activity Level", class: "form-label"%>
          <%= f.select :activity_level, options_for_select([
            ['Sedentary (Little to no physical activity)', 'sedentary'],
            ['Lightly Active (Light exercise or sports 1-3 days per week or moderate physical activity)', 'lightly_active'],
            ['Moderately Active (Moderate exercise or sports 3-5 days per week)', 'moderately_active'],
            ['Very Active (Hard exercise or sports 6-7 days per week or a physically demanding job)', 'very_active'],
            ['Super Active (Very intense exercise, physical training twice daily, or an extremely physically demanding job)', 'super_active']
          ]), {}, class: "form-select", id: "activityLevel" %>
        </div>
          <div class="mb-3">
            <%= f.label :goal_weight_lbs, "Goal Weight (in lbs)", class: "form-label" %>
            <div class="form-group d-flex">
              <%= number_field_tag "snapshot[goal_weight_lbs]", nil, class: "form-control me-2", id: "goalWeightLbs", min: 0, placeholder: "Pounds", required: true %>
            </div>
          </div>
          <div class="mb-3">
            <%= f.label :calorie_deficit_or_surplus_per_day, "Calorie Deficit or Surplus per Day", class: "form-label" %>
            <%= f.number_field :calorie_deficit_or_surplus_per_day, class: "form-control", id: "calorieDeficitorSurplusPerDay", min: 0 %>
          </div>
          <div class="form-actions">
            <%= f.button :submit, "Calculate Snapshot", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<div class="text-center">
  <%= link_to "Back to snapshots", snapshots_path %>
  </div>


<div id="snapshots" class="container">
  <div class="row">
    <% @snapshots.each do |snapshot| %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body text-center">
            <%= render partial: 'snapshot', locals: { snapshot: snapshot, weightLbs: (snapshot.weight_kg / 0.453592).round(2), height_feet: (snapshot.height_cm / 30.48).to_i, height_inches: ((snapshot.height_cm / 2.54) % 12).round(2), goal_weight_lbs: (snapshot.goal_weight_kg / 0.453592).round(2) } %>
            <p>
              <%= link_to "Show this snapshot", snapshot, class: "btn btn-primary" %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>



</div>
</div>
